<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<p><%= link_to 'New Song', new_song_path, class: 'btn btn-primary' %></p>

<ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.title, song %></li>
  <% end %>
</ul>
