$font-size-base: 1.2rem;

@import "bootswatch/litera/variables";
@import "bootstrap";
@import "bootswatch/litera/bootswatch";

.chordpro .comment {
  background: #ddd;
  padding: 0.3rem;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.chord, .lyric {
  text-wrap: avoid;
  // Make sure chords right next to each other have breathing room
  margin-right: 0.2em;
}

.chord {
  font-weight: bold;
  margin-bottom: -0.2em;
}

.lyric {
  // Force the chords above an empty lyrics section to the top
  min-height: 1.5em;
  font-family: "Times New Roman";
  font-size: 1.4rem;
}
